.placeorder-container {
  width: 90%;
  max-width: 600px;
  margin: 40px auto;
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
}

.placeorder-container h2 {
  margin-top: 0;
}

.order-box {
  margin-top: 20px;
}

.order-box h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.order-box p {
  color: #555;
  margin-bottom: 25px;
}

.order-details {
  margin-bottom: 30px;
  text-align: left;
  background: #f1f1f1;
  padding: 15px;
  border-radius: 10px;
}

.detail-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.back-home-btn {
  width: 100%;
  padding: 12px;
  background: #222;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
}

.back-home-btn:hover {
  background: #000;
}
